@charset "utf-8";
/* CSS Document */
.lj_info_page{
	width:1200px;margin:10px auto;margin-bottom:20px;overflow:hidden;zoom:1;color:#000;font-size:14px;font-family:"微软雅黑", "宋体", Arial;
	}
.info-detail-content{
	overflow:hidden;zoom:1;
	}
.info_left{
	float:left;width:869px;	
	}
.info_left_banner{
	position:relative;width:869px;height:314px;overflow:hidden;	
	}
.info-detail-banner{
	width:auto;height:auto;overflow:hidden;zoom:1;	
	}

.info_banner_img img{
	width:869px;height:314px;vertical-align:top;	
	}	
.info_banner_img{
	width:5000px;overflow:hidden;zoom:1;	
	}
.info_banner_img li{
	float:left;	
	}
.info_banner_dor{
	position:absolute;bottom:15px;left:20px;overflow:hidden;zoom:1;	
	}
.info_banner_dor li{
	float:left;	margin-right:20px;width:13px;height:13px;background:url(static/images/home_page/banner_img_07.png);text-indent:-100px;cursor:pointer;
	}
.info_banner_dor .info_dor_active{
	background:url(static/images/home_page/banner_img_09.png);	
	}		
.info_artical_small{
	height:155px;padding:13px 5px 13px 0;overflow:hidden;zoom:1;border-bottom:#DDD dashed 1px;	
	}
.info_artical_img,.info_artical_text{
	float:left;
	}
.info_artical_img{
	margin-right:9px;	
	}
.info_artical_img img{
	width:226px;height:155px;
	}
.info_artical_text{
	width:618px;	
	}
.info_artical_text_title{
	font-size:18px;color:#999;overflow:hidden;	
	}
.artical_text_title_left{
	float:left;width:473px;height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;	
	}	
.info_artical_text_title span{
	color:#ff331f;	
	}
.info_artical_text_title a:link,.info_artical_text_title a:visited{
	color:#000;text-decoration:none;
	}
.info_artical_text_title a:hover{
	color:#b3007d;text-decoration:underline;	
	}
.info_artical_text_title p{
	font-size:14px;float:right;*margin-top:-23px;_margin-top:-23px;
	}
.info_artical_text_content{
	text-indent:2em;height:64px;overflow:hidden;
	}
.info_artical_text_content a{
	line-height:22px;	
	}
.info_artical_text_content a:link,.info_artical_text_content a:visited{
	color:#777;text-decoration:none;
	}
.info_artical_text_content a:hover,.info_right_content_text a:hover{
	color:#b3007d;text-decoration:underline;
	}
.info_artical_share{
	text-align:right;margin-top:3px;	
	}
.info_artical_time{
	margin:22px 0 0 7px;color:#777;
	}
.info_artical_time span{
	margin-right:23px;	
	}
.info_artical_time a{
	display:inline-block;height:20px;padding:0 4px;margin:0 5px;border:#FFF solid 1px;	
	}
.info_artical_time a:link,.info_artical_time a:visited,.info_right_content_text a:link,.info_right_content_text a:visited{
	color:#000;text-decoration:none;	
	}
.info_artical_time a:hover{
	color:#b3007d;border:#b3007d solid 1px;	
	}
.last_info_artical_small{
	border:none;	
	}
/*分页*/
.info_pages{
	margin-top:50px;text-align:center;height:36px;
	}
.info_pages a{
	width:37px;height:36px;line-height:36px;display:inline-block;margin:0 8px;vertical-align:bottom;
	}
.info_pages a:link,.info_pages a:visited{
	color:#7f7f7f;background:url(/static/images/home_page/info_24.gif) no-repeat;text-decoration:none;
	}
.info_pages img{
	vertical-align:bottom;	
	}
.info_pages a:hover,.info_pages a.active{
	color:#FFF;background:url(/static/images/home_page/info_22.gif) no-repeat;	
	}
.info_pages_jump{
	margin-left:20px;color:#999;
	}
.info_pages_jump input{
	border:#C1C1C1 solid 1px;width:30px;height:30px;line-height:30px;text-align:center;background:#F2F2F2;margin-right:3px;vertical-align:middle;	
	}
.info_go{
	width:37px;height:37px;color:#7f7f7f;font-weight:bold;font-size:16px;background:url(/static/images/home_page/info_24.gif) no-repeat;border:none;
	}

.info_pages .next,.info_pages .prev{
	display:inline-block;width:37px;height:37px;vertical-align:bottom; cursor:pointer;	
	} 
.info_pages .prev{
	background:url(/static/images/home_page/button_left_03.gif);	
	}
.info_pages .next{
	background:url(/static/images/home_page/info_26.gif);	
	}
/*right*/
.info_right{
	width:320px;float:right;	
	}
.info_right_img{
	padding-top:13px;	
	}
.info_right_content{
	width:320px;	
	}
.info_right_content{
	font-size:14px;color:#000;
	}
.info_right_content_text{
	margin-top:15px;	
	}
.content_text_title{
	position:relative;font-size:18px;color:#333;font-weight:bold;width:93px;height:33px;line-height:33px;padding-left:8px;border-top:#333 solid 3px;border-left:#dcdcdc solid 1px;border-right:#dcdcdc solid 1px;border-bottom:#fff solid 1px;
	}
.info_right_content_text ul{
	border:#dcdcdc solid 1px;margin-top:-1px;padding:15px 0 5px 18px; 	
	}
.info_right_content_text li{
	width:278px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:25px;	
	}
.info_right_content_text a:hover{
	color:#b3007d;text-decoration:underline;
	}
.info_right_content_text em{
	color:#888;	
	}
.info_right_content_tag{
	margin:10px 0;
	}
.content_tag_title{
	color:#999;font-size:18px;font-weight:bold;margin-bottom:2px;	
	}
.content_tag_title img{
	margin-right:5px;vertical-align:middle;	
	}
.info_right_content_tag a{
	font-size:12px;display:inline-block;padding:4px 8px;color:#545252;text-decoration:none;border:#B1B0B0 solid 1px;margin:9px 5px 0 0;-webkit-border-radius:10px 0 10px 0;-moz-border-radius:10px 0 10px 0;-ms-border-radius:10px 0 10px 0;border-radius:10px 0 10px 0;	
	}
.info_right_content_tag a:link,.info_right_content_tag a:visited{
	color:#545252;text-decoration:none;
	}
.info_right_content_tag a:hover{
	background:#FFB119;border:#FFB119 solid 1px;color:#FFF;	
	}
.info_show_img img{
	width:320px;	
	}
.content_text_title a{
	display:inline-block;font-size:12px;color:#333;font-weight:lighter;position:relative;right:-250px;top:-25px;font-family:"微软雅黑", "宋体", Arial;
	}
.content_text_border{
	border:#dcdcdc solid 1px;margin-top:-1px;padding:15px 0 5px 18px;
	}	
	.content_text_img{
	overflow:hidden;zoom:1;padding-bottom:10px;	
	}
.content_text_img_t{
	float:left;	
	}
.info_right_content_text .content_text_img_text{
	float:right;width:140px;padding:35px 5px 0 0;	
	}
.info_right_content_text .content_text_border ul{
	border:none;padding:0;
	}
.info_right_content_text .content_text_border ul li{
	width:278px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:25px;
	}
.info_right_content_text .content_text_border ul li em{
	display:inline-block;width:4px;height:4px;background:#888;margin-right:5px;vertical-align:middle;	
	}
	
/*detail*/
.info_detail_crumbs{
	font-size:12px;margin:13px 0 38px 15px;color:#777;
	} 
.info_detail_crumbs a{
	margin:0 5px;
	}
.info_detail_crumbs a:link,.info_detail_crumbs a:visited{
	color:#777;text-decoration:none;	
	}
.info_detail_crumbs a:hover{
	color:#b3007d;text-decoration:underline;	
	}
.info_detail_crumbs span{
	color:#000;margin-left:5px;
	}
.info_detail_content_title{
	text-align:center;	
	}	
.info_detail_content_title h1{
	font-size:24px;font-weight:lighter;	
	}
.info_detail_content_title p{
	font-size:12px;		
	}
.info_detail_label{
	margin-top:5px;color:#777;
	}
.info_detail_description{
	margin:8px 0; 
	}
.info_detail_content_date{
	margin-right:10px;
	}
.info_detail_content_from{
	margin:0 20px;	
	}
.info_detail_content_from span{
	color:#000;	
	}
.info_detail_description span{
	margin:0 12px;	
	}
.info_detail_description a{
	margin-right:12px;
	}
.info_detail_description a:link,.info_detail_description a:visited{
	color:#b3007d;text-decoration:underline;
	}
.info_detail_content_label{
	background:#D9D9D9;padding:10px 17px 5px 25px;font-size:12px;line-height:22px;color:#333;margin:14px 0 22px 0;	
	}
.info_detail_content_text{
	color:#333;font-size:16px;line-height:25px;	
	}
.info_detail_content_text .detail_content_text{
	margin-bottom:22px;text-indent:2em;	
	}
.info_content_text_img{
	text-align:center;	
	}
.info_detail_share{
	margin:54px 0 120px 0;	
	}
.info_detail_code{
	text-align:center;margin-bottom:10px;
	}
.info_detail_share_plugin{
	text-align:center;margin:0 auto;	
	}
.info_detail_comment_title{
	font-size:18px;color:3333;border-bottom:#adadad solid 1px;margin-bottom:20px;	
	}
.info_detail_comment{
	padding-bottom:11px;border-bottom:#ddd solid 1px;
	}
.info_detail_read{
	margin-top:25px;	
	}
.info_detail_read_title{
	font-size:18px;color:#333;	
	}
.info_detail_read ul{
	overflow:hidden;zoom:1;	
	}
.info_detail_read ul li{
	float:left;margin:16px 8px 3px 23px;width:177px;
	}
.info_read_text{
	margin-top:5px;height:48px;line-height:22px;overflow:hidden;
	}
.info_read_text a:link,.info_read_text a:visited{
	color:#333;text-decoration:none;
	}
.info_read_text a:hover{
	color:#b3007d;text-decoration:underline;
	}
.ljljHeaderNavClassify{
	margin-left:0;	
	}