@charset "utf-8";
/* CSS Document */
/*shop background add css*/
/*left nav css*/
.tabControl{
	display:inline-block;background:#ECECEC;border:#797979 solid 1px;padding:3px 0;width:80px;text-align:center;color:#000;	
	}
.recommend{
	border-left:none;margin-right:15px;	
	}
.curChoose{
	background:#FFF;font-size:14;font-weight:bold;color:#FF7E28;	
	}
.ztdemo_shop_table .secondClassify{
	padding-left:40px;	
	}
.ztdemo_shop_table .hirdlyClassify{
	padding-left:80px;	
	}
.leftNavTable{
	min-width:900px;	
	}
.brandLogo img{
	width:50px;height:50px;
	}
/*vew add public css*/
.newAdd{
	color:#4A4A4A;font-weight:bold;
	}
.newAdd a:link,.newAdd a:visited{
	color:#4A4A4A;text-decoration:none;	
	}
.newAdd a:hover{
	text-decoration:underline;	
	}
.newAdd span{
	color:#000;	
	}
.lefNavContentAdd{
	padding-top:26px;*padding-top:8px;
	}
.lefNavContentAdd p{
	padding-left:40px;line-height:35px;
	}
/*input select*/
.addText,.addSelect,.addSelectLevel{
	height:20px;margin-left:12px;width:140px;line-height:20px;	
	}
.addTextUrl{
	width:240px;	
	}
.addSelect,.addSelectLevel{
	width:110px;
	}
.addSelectLevel{
	margin:0 5px 0 18px;	
	}
.addRadio,.addRadioNo{
	vertical-align:middle;margin-right:3px;
	}
.addRadio{
	margin-left:12px;	
	}
.addRadioNo{
	margin-left:30px;	
	}
/*banner add amend*/
.bannerContent p{
	margin-left:-20px;	
	}
.newAddWidth{
	display:inline-block;width:60px;text-align:right;	
	}
.addTextTitle{
	width:180px;
	}
.sort,.tone{
	margin-left:12px;width:50px;height:20px;line-height:20px;	
	}
.chooseInput{
	margin-left:12px;
	}
.toneMargin{
	margin-left:12px;
	}
.tone{
	width:80px;margin-left:5px;	
	}
.lefNavContentAdd .bannerAmendImg{
	border:#797979 solid 1px;width:283px;height:127px;margin:3px 0 10px 93px;padding-left:0;
	}
.bannerAmendImg img{
	width:283px;vertical-align:top;	
	}
/*20140414*/
.TitleWidth { width:70px;display:inline-block; } 
.sb-img{
	margin:20px 0 0 21px;	
	}
.add-openp{
	padding-left:21px;
	}
	
/*2014-12-09*/
.tupian{
	position:absolute;
	top:0px;
	left:21px;
	display:none;
}


/*2014-12-13*/
.info-tag{
	overflow:hidden;margin:10px 0 0 21px;
	}
.info-tag p{
	float:left;width:90px;margin:20px 10px 0 0;
	}
.info-tag input{
	width:13px;height:13px;vertical-align:sub;margin-right:5px;	
	}
.ztdemo_shop_table td .input-file{
	width:auto;	
	}
.ztdemo_shop_table td .info_radio{
	width:auto;height:auto;margin-right:3px;vertical-align:middle;
	}	
.info_tag{
	display:inline-block;margin-right:20px;
	}
.input-acquiesce{
	color:#666;
	}
.info-textarea{
	width:300px;height:100px;	
	}
.select_nomar{
	margin:0;	
	}
.radio_mar{
	margin-left:30px;	
	}



